<!DOCTYPE html>
<html>
    <head>
        <title>
          OAUTH
        </title>
    </head>
    <body>
       <nav>
           <ul>
               <li><a href="/">Homepage</a></li>
               <li><a href="/sd/login">Login</a></li>
           </ul>
       </nav>
       <br/>
       <h2>WELCOME TO HOME</h2>
    </body>
</html>