<!DOCTYPE html>
<html>
    <head>
        <title>
          OAUTH login
        </title>
    </head>
    <body>
       <nav>
           <ul>
               <li><a href="/">Homepage</a></li>
               <li><a href="/sd/login">Login</a></li>
               <li><a href="/sd/logout">Logout</a></li>
           </ul>
       </nav>
       <br/>
       <h2>WELCOME TO login</h2>
       <br/>
       <main>
          <button> <a  href="/sd/google">Google</a> </button>
       </main>
    </body>
</html>